.MessageList {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*width: 60vw;*/
    padding: 20px;
}

.Message {
    margin: 10px;
    padding: 10px;
    width: 210px;
    background: #99cbed;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 10px;
    word-wrap:  break-word;
}

span {
    margin-left: 5px;
}
