.UserForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.UserInput {
    padding: 20px;
    font-size: 2em;
    border: 0;
    border-bottom: 1px solid #82888c;
    width: 580px;
}

h1 {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #82888c;
}
